header{
    position: sticky;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #0089B7;
    color: white;
}
nav h1{
    margin-left: 100px;
}
nav ul{
    text-decoration: none;
    display: flex;
    gap: 2rem;
    margin-top: 25px;
    margin-right: 100px;
}
nav li{
    list-style: none;
    font-weight: 500;
}
nav a{
    text-decoration: none;
    color: white;
}
.hero{
   background-color: #003D62;
   display: flex;
   justify-content: space-between;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 30px;
   padding-top: 30px;
}
.hero h1{
    color: white;
    margin-top: 250px;
    padding-right: 50px;
    margin-left: 200px;
    font-family: sans-serif;
}
#hero .frontend{
    overflow: hidden;
    border-right: 0.25rem solid orange;
    white-space: nowrap;
    animation: typing 5s steps(40,end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes blink-caret{
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color: orange;
    }
}
.hi{
    color: yellow;
    font-size: 45px;
}
.iam{
    font-size: 20px;
}
.john{
    font-size: 45px;
    font-weight: 600;
}
.projects{
    background-color: #003251;
    padding-top: 30px;
    padding-bottom: 60px;
}
.projects h1{
    color: white;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    font-family: sans-serif;
}
.grid-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-container{
    display: grid;
    gap: 10px;
    align-content: center;
    grid-template-areas: 
    "i1 i2 i3"
    "i4 i5 i6"
    "i7 i8 i9";
}
.item1{
    grid-area: i1;
    transition: 0.2s ease-in-out;
}
.item2{
    grid-area: i2;
    transition: 0.2s ease-in-out;
}
.item3{
    grid-area: i3;
    transition: 0.2s ease-in-out;
}
.item4{
    grid-area: i4;
    transition: 0.2s ease-in-out;
}
.item5{
    grid-area: i5;
    transition: 0.2s ease-in-out;
}
.item6{
    grid-area: i6;
    transition: 0.2s ease-in-out;
}
.item7{
    grid-area: i7;
    transition: 0.2s ease-in-out;
}
.item8{
    grid-area: i8;
    transition: 0.2s ease-in-out;
}
.item9{
    grid-area: i9;
    transition: 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
  }
  .card:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
  }
.foot{
    background-color: #003D62;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}
.foot h1{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}
.icons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.tworows{
    display: inline-flex;
    max-width: 400px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    margin-left: 40px;
}
.ic{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.git{
    margin-left: 30px;
}